*.class
*.iml
*.releaseBackup
*.git.properties

git.properties

# maven-build directory. hopefully no one uses "target" in a package name
target/
target-ide/

# eclipse related files
.classpath

# maven-build directory. hopefully no one uses "bin" in a package name
bin/

# The IBM Technical support log directory
IBM_TECHNICAL_SUPPORT





# list all deleted folders here
# this should be pruned in future


OSGI-OPT/
/org.openntf.domino.plugin
/de.foconis.test
/org.openntf.formula/lib
/com.ibm.icu
/de.foconis.test
/org.openntf.domino.designer.sdk
/org.openntf.domino.plugin
/org.openntf.domino.xsp.update
/domino/org.openntf.domino.feature.group
/domino/org.openntf.domino.updatesite
/domino/externals/asm
/domino/externals/guava
/domino/externals/javassist
/domino/externals/javolution
/domino/externals/jsr305
/domino/externals/rxjava
/domino/externals/tinkerpop
/domino/junit4xpages




