<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin modifiedby="de.foconis.maven.syncpx.SyncPluginXMLMojo">
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.commons.ILifeCycle"
            class="org.openntf.domino.design.impl.DesignLifeCycle"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.design.IDatabaseDesignService"
            class="org.openntf.domino.design.impl.DatabaseDesignService"/>
</extension>
</plugin>
