<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin modifiedby="de.foconis.maven.syncpx.SyncPluginXMLMojo">
<!-- <extension
           id="org.openntf.domino.xsp.Servlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/openntf_domino"
              class="org.openntf.domino.xsp.OpenntfServlet"
              load-on-startup="true">
        </servlet>
     </extension> -->
<extension point="com.ibm.commons.Extension">
    <service type="com.ibm.designer.runtime.extensions.JavaScriptProvider"
            class="org.openntf.domino.xsp.script.OpenDomJavaScriptExtension"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="com.ibm.xsp.Library"
            class="org.openntf.domino.xsp.XspLibrary"/>
</extension>
<extension point="com.ibm.commons.Extension">
<!-- Needed to start automatically and initialize some core things. This is no PoJo-Service! -->
    <service type="com.ibm.xsp.adapter.serviceFactory"
            class="org.openntf.domino.xsp.adapter.OpenntfServiceFactory"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="com.ibm.xsp.core.events.ApplicationListener"
            class="org.openntf.domino.xsp.xots.XotsApplicationListener"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="com.ibm.xsp.library.Contributor"
            class="org.openntf.domino.xsp.OpenntfDominoXspContributor"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="com.ibm.xsp.model.domino.ViewNavigatorFactory"
            class="org.openntf.domino.xsp.helpers.OpenntfViewNavigatorFactoryFactory"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.xots.tasklet"
            class="org.openntf.domino.xsp.xots.XotsNsfScanner"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.xsp.script.WrapperRegistry"
            class="org.openntf.domino.xsp.script.WrapperOpenDomino"/>
</extension>
<extension point="com.ibm.commons.Extension">
<!-- Comment -->
    <service type="org.openntf.formula.FormulaContext"
            class="org.openntf.domino.xsp.formula.FormulaContextXsp"/>
</extension>
<extension point="com.ibm.commons.Extension">
<!-- domino functions -->
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.domino.formula.DocFunctions$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.domino.formula.DominoFunctions$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.domino.formula.NativeEvaluateFunctions$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.domino.formula.NotSupported$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.domino.xsp.formula.XspFunctions$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.formula.function.Comparators$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
<!-- Here, all constants are declared -->
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.formula.function.Constants$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.formula.function.DateTimeFunctions$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.formula.function.MathFunctions$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.formula.function.Negators$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
<!-- TODO RPr: Why do we need to specify all classes
ANSWER: 	The reason is that the ServiceLoader does not work properly in OSGi environment
These are the basic functions to provied boolean and arithmetc operations -->
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.formula.function.Operators$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.formula.function.OperatorsBool$Functions"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.formula.FunctionSet"
            class="org.openntf.formula.function.TextFunctions$Functions"/>
</extension>
</plugin>
