<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.domino.xsp.script.OpenDomJavaScriptExtension"  type="com.ibm.designer.runtime.extensions.JavaScriptProvider"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.domino.xsp.XspLibrary"  type="com.ibm.xsp.Library"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.domino.xsp.OpenntfDominoXspContributor"  type="com.ibm.xsp.library.Contributor"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.domino.xsp.formula.FormulaContextXsp"  type="org.openntf.formula.FormulaContext"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.domino.xsp.formula.XspFunctions$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.formula.function.Operators$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.formula.function.OperatorsBool$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.formula.function.Negators$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.formula.function.Comparators$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.formula.function.Constants$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.formula.function.MathFunctions$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.formula.function.DateTimeFunctions$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.formula.function.TextFunctions$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.domino.formula.DocFunctions$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.domino.formula.NativeEvaluateFunctions$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.domino.formula.DominoFunctions$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<extension point="com.ibm.commons.Extension">
  <service class="org.openntf.domino.formula.NotSupported$Functions"  type="org.openntf.formula.FunctionSet"/>
</extension>
<!-- <extension
           id="org.openntf.domino.xsp.Servlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/openntf_domino"
              class="org.openntf.domino.xsp.OpenntfServlet"
              load-on-startup="true">
        </servlet>
     </extension> -->
</plugin>
