<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin modifiedby="de.foconis.maven.syncpx.SyncPluginXMLMojo">
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.WrapperFactory"
            class="org.openntf.domino.impl.WrapperFactory"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.commons.ILifeCycle"
            class="org.openntf.domino.impl.DominoLifeCycle"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.commons.ILoggingService"
            class="org.openntf.domino.logging.impl.Logging"/>
</extension>
</plugin>
