<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="com.ibm.commons.Extension">
<service class="org.openntf.domino.logging.impl.Logging" type="org.openntf.domino.commons.ILoggingService"/>
</extension>
<extension point="com.ibm.commons.Extension">
<service class="org.openntf.domino.impl.DominoLifeCycle" type="org.openntf.domino.commons.ILifeCycle"/>
</extension>
<extension point="com.ibm.commons.Extension">
<service class="org.openntf.domino.impl.WrapperFactory" type="org.openntf.domino.WrapperFactory"/>
</extension>
</plugin>
