<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<extension point="com.ibm.commons.Extension">
<service class="org.openntf.domino.commons.impl.NameImpl" type="org.openntf.domino.commons.IName"/>
</extension>
<extension point="com.ibm.commons.Extension">
<service class="org.openntf.domino.commons.impl.CommonsLifeCycle" type="org.openntf.domino.commons.ILifeCycle"/>
</extension>
</plugin>
