<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin modifiedby="de.foconis.maven.syncpx.SyncPluginXMLMojo">
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.commons.ILifeCycle"
            class="org.openntf.tasklet.TaskletLifeCylce"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.tasklet.ITaskletWrapperFactory"
            class="org.openntf.tasklet.impl.TaskletWrapperFactory"/>
</extension>
</plugin>
