<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin modifiedby="de.foconis.maven.syncpx.SyncPluginXMLMojo">
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.commons.ILifeCycle"
            class="org.openntf.domino.utils.Factory$LifeCycle"/>
</extension>
<extension point="com.ibm.commons.Extension">
    <service type="org.openntf.domino.xots.tasks.TaskletWorkerExecutor"
            class="org.openntf.domino.xots.dominotasks.DominoTaskletWorkerExecutor"/>
</extension>
</plugin>
